/* Google font import*/
@import url('https://fonts.googleapis.com/css2?family=Blaka+Ink&family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Lato:wght@300&family=Nosifer&family=Oswald:wght@200;300;400;500;600;700&family=Snowburst+One&display=swap');


/* Asterisk wild card selector to overide default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general styles*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: auto;
    color: #009B4D;
    font-family: "dm sans", sans-serif;
}

/* Header */
header {
    background-color: #009B4D;
    position: fixed;
    padding: 0 1rem;
    z-index: 99;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 3px 3px gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "dm sans", sans-serif;

}

header a {
    text-decoration: none;
    color: ivory;
}

/* Header font */
h1 {
    font-family: "dm sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Menu */
.menu {
    font-size: 150%;
    list-style-type: none;
    letter-spacing: 3px;
    background: #009B4D;
    width: 100%;
    padding: 1px 0;
}

.menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid ivory;
    border-top: 1px solid ivory;
}

/* Navbar dropdown toggle*/
nav {
    position: absolute;
    width: 100%;
    left: 0;
    display: none;
    top: 100%;
    right: 0;
    flex-shrink: 0;
    background: #009B4D;
}

nav ul {
    width: 100%;
    margin-left: 2em;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    font-family: "dm sans", sans-serif;
    background-color: ivory;
    /* use flexbox to take up surplus space and push footer down */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* main image styles*/
.mainimage {
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro-signup {
    width: 90%;
    margin: auto;
    border-radius: 5px;
    background-color: ivory;
}

.intro, .history-invite {
    text-align: center;
    border: 1px solid #009B4D;
    margin: 5px;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #009B4D;
}

.signup-reason {
    text-align: center;
    border: 1px solid #009B4D;
    box-shadow: 2px 2px 3px #009B4D;
    margin: 5px;
    border-radius: 5px;
}

.roosevelt {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

/* History page */
.history-heading {
    padding-top: 150px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.8rem;
    height: fit-content;
    text-transform: uppercase;
    background: url("../images/wideisland.jpg") no-repeat center center/cover;
    color: ivory;
}

.history-sections {
    width: 95%;
    margin: 5px auto;
    border-radius: 5px;
    background-color: #009B4D;
    border: 1px solid #009B4D;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hisimg {
    width: 100%;
    object-fit: cover;
    padding: 1%;
    color: ivory;
}

.hisdate {
    align-items: center;
    text-align: center;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #009B4D;
    background-color: ivory;
}

.histext {
    text-align: center;
    border: 1px solid #009B4D;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #009B4D;
    background-color: ivory;
}

/* mentor helped with the below code to fix overflow issue*/
img {
    max-width: 100% !important;
    object-fit: cover !important;
}

p {
    text-align: center;
}

/* signup page and form */
.signup {
    background-image: url("../images/forest.jpg");
    background-size: cover;
    padding: 100px 10% 0 10%;
    flex-grow: 1;
    color: ivory;
}

.signup-form {
    background-color: rgba(60, 60, 60, 0.6);
    padding: 10px;
}

.signup-form>h3 {
    margin-bottom: 20px;
}

.radio-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.join-button {
    margin: 15px 0;
    border-radius: 4px;
    padding: 20px;
    font-size: 110%;
    background-color: #009B4D;
    color: ivory;
}

/*footer*/
footer {
    background-color: #009B4D;
    margin-bottom: 0px;
    position: relative;
}

.social-networks {
    text-align: center;
    padding: 20px 0;    
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    color: #009B4D;    
}

/* burger menu styles*/
i {
    font-size: 130%;
    padding: 5%;
    color: ivory;
}

/* Media query for tablets and larger (768px+) */
@media screen and (min-width: 768px) {

    /* to push signup section down on larger screens*/
    main {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    .signup {
        padding-top: 105px;
        background-position: center;
        position: relative;
    }

    .signup-form {
        max-width: 500px;
        position: absolute;
        left: 15%;
        top: 120px;
    }

    .radio-buttons {
        padding: 0 10%;
    }

    .text-input:hover {
        border-color: #009B4D;
    }

    .join-button:hover {
        color: #009B4D;
        background-color: ivory;
        cursor: pointer;
    }

    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding-right: 1em;
        box-shadow: none;
    }

    .menu {
        display: flex;
        align-items: center;
        background: none
    }

    .menu>li {
        padding-left: 2rem;
        display: flex;
        align-items: center;
    }

    .nav-toggle-label {
        display: none;
    }

    .logo {
        font-size: 250%;
        margin: 0 0.5rem;
    }

    iframe {
        flex-grow: 1;
    }
}

/* Media query for laptops and larger (992px+) */
@media screen and (min-width: 992px) {
    .menu a:hover {
        border-bottom: 1px solid ivory;
        border-top: 1px solid ivory;
    }

    .social-networks a:hover {
        border-bottom: 2px solid ivory;                          
    }

    .intro-signup {
        display: flex;
        justify-content: space-between;
    }

    .intro {
        width: 50%;
    }

    .history-invite {
        width: 50%;
    }

    nav {
        display: flex;
        align-items: center;
        padding-top: 10px;
    }

    .history-sections {
        flex-direction: row;
        align-items: center;
    }

    .hisimg {
        max-width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hisdate {
        width: 20%;
        height: fit-content;
        font-size: 200%;
    }

    .histext {
        width: 40%;
        font-size: 150%;
    }

    /* to push signup section down on larger screens*/
    .signup {
        padding-top: 70px;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    iframe {
        flex-grow: 1;
    }
}