/* Google font import*/
@import url('https://fonts.googleapis.com/css2?family=Blaka+Ink&family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Lato:wght@300&family=Nosifer&family=Oswald:wght@200;300;400;500;600;700&family=Snowburst+One&display=swap');


/* Asterisk wild card selector to overide default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #009B4D; 
    font-family: "dm sans", sans-serif;  
}

/* Header */
header {
    background-color: #009B4D;
    position: fixed;    
    padding: 0 1rem;
    z-index: 99;
    width: 100%;
    box-shadow: 0 3px 2px ivory;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-family: "dm sans", sans-serif;
}
header a {
    text-decoration: none;
    color: ivory;
}

/* Header font */
h1 {
    font-family: "dm sans", sans-serif;
    text-transform: uppercase;  
    font-size: 2em; 
    letter-spacing: 1px;    
}

/* Menu */
#menu {
    font-size: 150%;
    list-style-type: none;
    letter-spacing: 3px;  
    background: rgba(244, 247, 244, 0.5)
}

#menu  li {
    margin-bottom: 0.5em;    
}

.active {
    border-bottom: 1px solid ivory;
    border-top: 1px solid ivory;
}

/* Navbar dropdown toggle*/
nav {
    position: absolute;           
        left: 0;
        padding: 0 1rem;        
        display: none;
        top: 100%;
        right: 0;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;    
}

/* Main content */
main {
    font-family: "dm sans", sans-serif;
    background-color: lightgoldenrodyellow;
    /* use flexbox to take up surplus space and push footer down */
    flex-grow: 1;        
}

/* main image styles*/
#mainimage {
    height: 600px;
    width: 100%;
    background: url("../images/oakmain.jpg") no-repeat center center/cover

}

#main-description {
    max-width: 800px;
    text-align: center;    
}

/*footer*/
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
/* burger menu styles*/
i {
    font-size: 130%;
    padding: 5%;
    color: ivory;
}

/* Media query for tablets and larger (768px+) */
@media screen and (min-width: 768px) {
    nav {
        display: block;
        position:relative;
        width: fit-content;
        padding-right: 1em;
        box-shadow: none;
    }

    #menu {
       display: flex; 
       text-align: center;
       background: none
    }

    #menu > li {
        padding-left: 2rem;
    }
    .nav-toggle-label {
        display: none;
    }
    #logo {
        font-size: 250%;
        line-height: 75px;
        margin: 0 0.5rem;
    }
}

/* Media query for laptops and larger (992px+) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid ivory;
        border-top: 1px solid ivory;
    }
}
  