/* Asterisk wild card selector to overide default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic styles */
    color: darkslategray;
   
}

/* Header */
header {
    background-color: lightcyan;
}

/* Main content */
main {
    background-color: lightgoldenrodyellow;
    /* use flexbox to take up surplus space and push footer down */
    flex-grow: 1;
    
}

/* Footer */
footer {
    background-color: lightsalmon;
}